{% extends 'base.html.twig' %}

    {% block javascripts %}
    {{ parent() }}
        <script>
            function handleClick(e) {
                e.style.transition = "width 0.1s, height 0.1s";
                e.style.width = "0";
                e.style.height = "0";
        
                setTimeout(function () {
                    if (e.classList.contains('liked')) {
                        e.src = "{{ asset('/img/heart.png') }}";
                        e.classList.remove('liked')
                    } else {
                        e.src = "{{ asset('/img/heart_full.png') }}";
                        e.classList.add('liked')
                    }
                    e.style.width = "40px";
                    e.style.height = "40px";
                }, 100);
            }
        </script>
    {% endblock %}

{% block title %}Olympus Blogus{% endblock %}

{% block body %}
<div class="main">
    <div class="cards">
        {% for post in posts %}
            <a class="card" href='{{ path('app_post_details', {'id': post.id})}}'>
                <div class="author_wrapper">
                    <img class="author_img" src="{{ asset('img/users/' ~ author_img) }}" alt="author avatar">
                    <div class="author_name">{{ author_name }}</div>
                </div>
                <img class="image" src="{{ asset('img/posts/' ~ post.imageName) }}"/>
                <div class="content">
                    <h1 class="title">
                        {{post.title}}
                    </h1>

                    <p class="desc">
                        {{post.text}}
                    </p>

                    <div class="actions">
                        <div class="comment">
                            <img class="img_comment" src='{{ asset('/img/tablets.png') }}' alt=""/>
                        </div>
                        <div class="like">
                            <img class="img_like" onclick=handleClick(this) src='{{ asset('/img/heart.png') }}' alt=""/>
                            <p class="nbr_likes">{{post.TotalLikes}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
