{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}

{% block body %}
<div class="profil_wrapper">
    <h1 class="hello_user">Bonjour {{ user.username }} !</h1>

    <div class="container_avatar">
        <div class="avatar-upload">
            {{ form_start(profilForm) }}
                <div class="avatar-preview">
                    <img class="imagePreview" src="{{ asset('img/users/' ~ user.imageName) }}" alt="avatar profil">
                </div>
                </div>
                <div class="avatar-edit">
                    {{ form_row(profilForm.imageFile) }}
                    {{ form_row(profilForm.username) }}
                </div>
                <button class="button_crud">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(profilForm) }}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="button_crud" href="{{path('app_post_index')}}">Voir l'interface admin !</a>
    {% endif %}
</div>
{% endblock %}
