{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}
{% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
    <script>
        function handleClick(element) {
            element.style.transition = "width 0.1s, height 0.1s";
            element.style.width = "0";
            element.style.height = "0";
    
            setTimeout(function () {
                if (element.classList.contains('liked')) {
                    element.src = "{{ asset('/img/heart.png') }}";
                    element.classList.remove('liked')
                } else {
                    element.src = "{{ asset('/img/heart_full.png') }}";
                    element.classList.add('liked')
                }
                element.style.width = "40px";
                element.style.height = "40px";
            }, 100);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="main_details">
        <div class="card_details">
            <img class="image_details" src="{{post.img}}"/>
            <div class="content_details">
                <h1 class="title_details">
                    {{post.title}}
                </h1>

                <p class="desc_details">
                    {{post.text}}
                </p>

                <div class="actions_details">
                    <div class="like_details">
                        <img class="img_like_details" onclick=handleClick(this) src="{{ asset('/img/heart.png') }}" alt="">
                        <p class="nbr_likes_details">{{post.likes}}</p>
                    </div>
                </div>
            </div>
        </div>
        <form class="create_comment_wrapper" method="post" action="{{ path('app_post_new_comment', {'id': post.id}) }}">
            <input name="comment" class="create_comment_input" type="text" placeholder="J'écris un commentaire !">
            <button class="button_crud _user">J'envoie !</button>
        </form>
        <div class="comments_wrapper">
            {% for comment in comments %}
                <div class="comment_card">
                    <div class="text_comment">{{ comment.text }}</div>
                    <div class="date_comment">{{ comment.createdAt ? comment.createdAt|date('d-m-Y H:i:s') : '' }}</div>
                    <div class="author_comment">{{ comment.user.getUsername() }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
