{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function handleClick(id) {
            fetch(`{{ path('app_likes', {'id': post.id})  }}`, {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById(`${id}`).innerHTML = data
                console.log(data);
            })
            .catch(error => {
                console.error('Erreur lors de l\'envoi des données:', error);
            });
        }
            {# e.style.transition = "width 0.1s, height 0.1s";
            e.style.width = "0";
            e.style.height = "0";
    
            setTimeout(function () {
                if (e.src == "{{ asset('/img/heart.png') }}";) {
                    e.src = "{{ asset('/img/heart_full.png') }}";
                } else {
                    e.src = "{{ asset('/img/heart.png') }}";
                }
                e.style.width = "40px";
                e.style.height = "40px";
            }, 100); #}
    </script>
{% endblock %}

{% block body %}
    <div class="main_details">
        <div class="card_details">
            <img class="image_details" src="{{ asset('img/posts/' ~ post.imageName) }}" alt="image d'illustration du post"/>
            <div class="content_details">
                <h1 class="title_details">
                    {{post.title}}
                </h1>

                <p class="desc_details">
                    {{post.text}}
                </p>

                <div class="actions_details">
                    <div class="like_details">
                        {% if post.likes | length > 0 %}
                            {% for like in post.likes %}
                                {% if like.user.id == currentUserId %}
                                    <img class="img_like_details" onclick=handleClick({{post.id}}) src="{{ asset('/img/heart_full.png') }}" alt=""/>
                                {% else %}
                                    <img class="img_like_details" onclick=handleClick({{post.id}}) src="{{ asset('/img/heart.png') }}" alt=""/>              
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <img class="img_like_details" onclick=handleClick({{post.id}}) src="{{ asset('/img/heart.png') }}" alt=""/>          
                        {% endif %}
                        <p id="{{post.id}}" class="nbr_likes_details">{{post.TotalLikes}}</p>
                    </div>
                </div>
            </div>
        </div>
        <form class="create_comment_wrapper" method="post" action="{{ path('app_post_new_comment', {'id': post.id}) }}">
            <input name="comment" class="create_comment_input" type="text" placeholder="J'écris un commentaire !">
            <button class="button_crud _user">J'envoie !</button>
        </form>
        <div class="comments_wrapper">
            {% for comment in comments %}
                <div class="comment_card">
                    <div class="text_comment">{{ comment.text }}</div>
                    <div class="date_comment">{{ comment.createdAt ? comment.createdAt|date('d-m-Y H:i:s') : '' }}</div>
                    <div class="author_wrapper_details">
                        <div class="author_name_details">{{ comment.user.username() }}</div>
                        <img class="author_img_details" src="{{ asset('img/users/' ~ comment.user.imageName )}}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
